body {
    font-family: sans-serif;
    background-color: #112;
    color: white;
}

h1 {
    text-align: center;
    font-size: 5rem;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

h1 > a {
    color: lightgray;
    text-decoration: none;
}

.teaser {
    display: block;
    text-align: center;
    
}

.play-button {
    text-align: center;
    display: block;
}
