body {
    font-family: sans-serif;
    background-color: #112;
    color: white;
    text-align: center;
}

h1 {
    font-size: 5rem;
    margin-top: 7rem;
    margin-bottom: 1rem;
}

h1 > a {
    text-decoration: none;
    color: lightgray;
}

.teaser {
    display: block;
    margin-bottom: 1rem;
    font-size: 16pt;
}

.button {
    font-size: 20pt;
    display: block;
    outline: 2px solid white;
    text-decoration: none;
}

.play-button {
    padding: 1rem 3rem;
    width: 17rem;
    margin: 0 auto;
    color: white;
    background-color: coral;
}

.share-button {
    padding: 1rem 3rem;
    width: 20rem;
    margin: 1rem auto;
    color: white;
    background-color: darkgreen;
    border: none;
}

.share-button-wrapper {
    margin: 3rem 0;
}

.share-button:active {
    position: relative;
    top: 2px;
}

.hidden {
    display: none;
}

.success-banner {
    color: #34f769;
    font-size: 20pt;
    display: block;
    margin-top: 5rem;
}

.br-sticky {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
}

.br-sticky > a:visited {
    color: inherit;
}
